<h1 class="text-center mb-4 text-dark">Listing all articles</h1>
<%= render 'article', obj: @articles %>
<div class="d-flex justify-content-center">
  <%== pagy_bootstrap_nav(@pagy)if @pagy.pages > 1 %>
</div>

