<div class="jumbotron center"> <!-- Quitamos mt-4 y p-5 (ahora manejado en CSS) -->
  <h1>ALPHA BLOG</h1> <!-- Quitamos text-danger -->
  <%= link_to 'Sign up now', signup_path, class: "btn btn-danger btn-lg btn-xlarge" %>
</div>