/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
// Custom variables (debes definirlas ANTES de importar Bootstrap)
$navbar-dark-bg: #a93226;
$navbar-dark-color: #f2f3f4;

// Importa Bootstrap
@import "bootstrap/scss/bootstrap";

// Opcional: Clases personalizadas adicionales
.navbar-custom {
    @extend .navbar-dark; // Hereda estilos de navbar-dark
    // Puedes añadir modificaciones adicionales aquí
    background-color: $navbar-dark-bg !important;
    font-weight: bold;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}