/*
 * This is a manifest file that'll be compiled into application.css.
 *
 * With Propshaft, assets are served efficiently without preprocessing steps. You can still include
 * application-wide styles in this file, but keep in mind that CSS precedence will follow the standard
 * cascading order, meaning styles declared later in the document or manifest will override earlier ones,
 * depending on specificity.
 *
 * Consider organizing styles into separate files for maintainability.
 */
// Custom variables (debes definirlas ANTES de importar Bootstrap)
$navbar-dark-bg: #2e302e;
$navbar-dark-color: #f2f3f4;

// Importa Bootstrap
@import "bootstrap/scss/bootstrap";

// Opcional: Clases personalizadas adicionales
.navbar-custom {
    @extend .navbar-dark; // Hereda estilos de navbar-dark
    // Puedes añadir modificaciones adicionales aquí
    background-color: $navbar-dark-bg !important;
    font-weight: bold;
}

#logo {
    float: left;
    font-size: 1.7em;
    color: #ffffff;
    text-transform: uppercase;
    letter-spacing: -1px;
    font-weight: bold;
}

#logo:hover {
    color: #ffffff;
    text-decoration: none;

}

.center {
    text-align: center;
}

.jumbotron {
    background-image: url('kamehouse.jpeg'); // si estás dentro del SCSS ya en assets
    background-size: cover;
    background-position: center;
    height: 550px;
    border-radius: 10%;
}

.jumbotron h1 {
    color: #ffffff;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: -1px;
    font-weight: bold;
}

.btn-lg {
    font-size: 1.7em;
    background-color: black;
}

footer {
    margin-top: 45px;
    padding-top: 5px;
    border-top: 1px solid #eaeaea;
    color: #777;
}

footer a:hover {
    color: #222;
}

footer small {
    float: left;
}

footer ul {
    float: right;
    list-style: none;
}

footer ul li {
    float: left;
    margin-left: 15px;
}

h1 {
    text-align: center;
    font-weight: bold;
}

.article-actions {
    border-top: 1px solid #eaeaea;
    padding-top: 5px;
}

.description {
    margin-top: 0;
}

.article-title {
    font-weight: bold;
    font-size: 1.5em;
}

.article-body {
    border-top: 1px solid #eaeaea;
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn-color {
    background-color: #0e1c36;
    color: #fff;

}

.profile-image-pic {
    height: 200px;
    width: 200px;
    object-fit: cover;
}



.cardbody-color {
    background-color: #ebf2fa;
}

a {
    text-decoration: none;
}

h4 {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

ul.text-center {
    list-style-position: inside;
    padding-left: 0;
    display: inline-block;
    text-align: left;
}

.fondo {
    background-color: darkgray;
}

.btn-custom-green {
    background-color: #28a745;
    /* tu color personalizado */
    color: #fff;
    /* texto blanco */
    font-weight: bold;
}